.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 40px;
    z-index: 1;
    transition: all 1s;
    background-color: rgb(0, 0, 0);
}
.nav img {
    visibility: visible;
    transition: 1s;

}
.nav__black{
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding: 20px;
    height: 40px;
    z-index: 1;
    background-color: transparent;
    transition:  1s;
    
}
.nav__black img {
    visibility: hidden;
    transition: 0.3s;

}
.nav__logo{
    position: fixed;
    left: 15;
    width: 80px;
    object-fit: contain;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 50px;
    object-fit: contain;
}
